@import '../../ScssVariables/global';

.promo {
  padding: 100px 0;
  
  &__container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(12, 1fr);
  }

  &__item {
    grid-column: 4 span;
  }
}

.item-promo {
  height: 240px;
  border-radius: 10px;
  padding: 40px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url('./Images/bg1.jpg');
  color: $white-color;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(191, 30, 119, 0) 0%, #BF1E77 100%);
    border-radius: inherit;
  }

  &__descr {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 5;
  }

  &__discount {
    margin-right: 20px;
    font-size: 64px;
    font-weight: 500;
  }

  &__text {
    font-size: 24px;
    line-height: 140%;
    font-weight: 500;
  }
}