
.search {
	max-width: 309px;
	width: 100%;
	height: 40px;
	// background-color: $bg-color;
	border-radius: 4px;
	overflow: hidden;


	&__input {
		width: 100%;
		height: 100%;
		background-color: transparent;
		margin: 0;
		padding: 0;
		border: none;
		padding: 11px 16px;
	}
}