$container: 1170px;            //Ширина контейнера
$padding-offset: 15px;         //Стандартные паддинги контейнера

$main-color: #545155;
$active-color:#bf1e77;
$bg-color: #fbf7f4;
$white-color: #fff;


.site-wrapper{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $main-color;
}

.container {
  max-width: calc(#{$container} + #{$padding-offset});
  padding: 0 $padding-offset;
  margin: 0 auto;
}

button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}