$main-color: #545155;
$active-color:#bf1e77;
$bg-color: #fbf7f4;
$white-color: #fff;


@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.gridDS {
  grid-column: 8 span;
}

@mixin section-title {
  font-weight: 500;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 72px;
}

